Repository A-kirami/matcha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

🐛 修复 `ChatMessageElement` 组件中的索引错误
  src/components/chat/ChatMessageElement.vue
Due: eslint --fix, stylelint --fix

🐛 修复类型错误
  src/components/chat/ChatMessageElement.vue
Due: eslint --fix, stylelint --fix

🏷️ 修复 `ChatMessageElement` 组件中的索引类型错误 (#207)
  src/components/chat/ChatMessageElement.vue
Due: eslint --fix, stylelint --fix

👷 在 Windows 上使用缓存
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

🐛 修复子窗口没有应用透明度的问题
  src-tauri/capabilities/about.json
  src/components/AppSidebarManageButton.vue
  src/layouts/native.vue
Due: eslint --fix, stylelint --fix

🐛 修复子窗口没有应用透明度的问题 (#208)
  src-tauri/capabilities/about.json
  src/components/AppSidebarManageButton.vue
  src/layouts/native.vue
Due: eslint --fix, stylelint --fix

🏗️ 更换布局系统以实现 HMR
  package.json
  pnpm-lock.yaml
  src/router/index.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix

🏗️ 更换布局系统以实现 HMR (#209)
  package.json
  pnpm-lock.yaml
  src/router/index.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix

✨ 添加链接解析与预览
  src/adapter/onebot/v11/message.ts
  src/adapter/onebot/v12/message.ts
  src/auto-imports.d.ts
  src/components/chat/ChatMessage.vue
  src/components/chat/ChatMessageElementLink.vue
  src/components/chat/ChatMessageElementText.vue
  src/stores/general-settings.ts
  src/utils/chat.ts
  src/views/settings/general.vue
Due: eslint --fix, stylelint --fix

✨ 添加链接解析与预览 (#210)
  src/adapter/onebot/v11/message.ts
  src/adapter/onebot/v12/message.ts
  src/auto-imports.d.ts
  src/components/chat/ChatMessage.vue
  src/components/chat/ChatMessageElementLink.vue
  src/components/chat/ChatMessageElementText.vue
  src/stores/general-settings.ts
  src/utils/chat.ts
  src/views/settings/general.vue
Due: eslint --fix, stylelint --fix

🔖 v0.4.5
  package.json
Due: none

🐛 修复 MacOs 下的窗口控件问题
  src/components/AppSidebar.vue
  src/components/AppTitlebar.vue
  src/layouts/default.vue
Due: eslint --fix, stylelint --fix

✨ 支持自定义资源服务器地址
  src-tauri/src/command.rs
  src-tauri/src/lib.rs
  src-tauri/src/server.rs
  src-tauri/src/state.rs
  src-tauri/src/utils.rs
  src/App.vue
  src/stores/general-settings.ts
  src/utils/file.ts
  src/views/settings/general.vue
Due: eslint --fix, stylelint --fix

🐛 修复部分情况下连接断开后不会重连的问题
  src/driver/websocket-client/index.ts
Due: eslint --fix

🥅 对意外的情况进行独立处理
  src/driver/websocket-client/index.ts
Due: eslint --fix

feat: 原生MacOs标题栏
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/components/AppSidebar.vue
Due: eslint --fix, stylelint --fix

🐛 修复 Windows 无法构建的问题
  src-tauri/src/lib.rs
Due: none

✨ 原生 MacOs 标题栏 (#215)
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/components/AppSidebar.vue
Due: eslint --fix, stylelint --fix

✨ 添加成功启动的消息通知
  src/stores/general-settings.ts
Due: eslint --fix

♻️ 将成功绑定的 `TcpListener` 传递给 `warp`
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/command.rs
  src-tauri/src/lib.rs
Due: none

♻️ 优化资源服务器初始化
  src/App.vue
  src/layouts/default.vue
Due: eslint --fix, stylelint --fix

✨ 支持自定义资源服务器地址 (#213)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/command.rs
  src-tauri/src/lib.rs
  src-tauri/src/server.rs
  src-tauri/src/state.rs
  src-tauri/src/utils.rs
  src/layouts/default.vue
  src/stores/general-settings.ts
  src/utils/file.ts
  src/views/settings/general.vue
Due: eslint --fix, stylelint --fix

🐛 修复部分情况下连接断开后不会重连的问题 (#214)
  src/driver/websocket-client/index.ts
Due: eslint --fix

🐛 修复侧边导航滑块初始化异常
  src/components/AppSidebarNavigation.vue
Due: eslint --fix, stylelint --fix

🐛 修复侧边导航滑块初始化异常 (#216)
  src/components/AppSidebarNavigation.vue
Due: eslint --fix, stylelint --fix

👷 改进工作流并发组
  .github/workflows/build.yml
Due: none

📝 更新贡献指南
  .github/CONTRIBUTING.md
Due: none

⬆️ 升级项目依赖
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
Due: none

🎨 改进平台特定代码
  src/components/AppSidebar.vue
  src/components/AppTitlebar.vue
  src/layouts/default.vue
Due: eslint --fix, stylelint --fix

📝 规范贡献指南人称代词
  .github/CONTRIBUTING.md
Due: none

🔖 v0.4.6
  package.json
Due: none

🐛 修复获取文件时由于错误的文件源导致的闪退
  src-tauri/src/utils.rs
Due: none

🐛 修复 PR 中构建的应用版本号错误
  src/utils/metadata.ts
Due: eslint --fix

🐛 修复获取文件时由于错误的文件源导致的闪退 (#220)
  src-tauri/src/utils.rs
Due: none

⬆️ 更新项目依赖
  .stylelintrc
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src/auto-imports.d.ts
Due: eslint --fix

💄 添加刷新连接图标
  src/components/chat/ChatDetailsInfoBot.vue
Due: eslint --fix, stylelint --fix

💄 添加刷新连接图标 (#225)
  src/components/chat/ChatDetailsInfoBot.vue
Due: eslint --fix, stylelint --fix

✨ 将日志打印到 webview 控制台
  src-tauri/src/lib.rs
  src/App.vue
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs,vue}
  stylelint --fix: any of: *.{css,vue}
