Repository A-kirami/matcha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix"
}

✨ 将日志打印到 webview 控制台 (#226)
  src-tauri/src/lib.rs
  src/App.vue
Due: eslint --fix, stylelint --fix

🐛 修复 WebSocket 重连时出现的重复连接问题
  src/driver/websocket-client/index.ts
Due: eslint --fix

✨ 添加用户注册时间字段并更新相关逻辑
  src/adapter/onebot/v11/action.ts
  src/components/chat/UserCreateFormDialog.vue
  src/database/db.ts
  src/database/model.ts
Due: eslint --fix, stylelint --fix

🐛 修复 WebSocket 重连时出现的重复连接问题 (#228)
  src/driver/websocket-client/index.ts
Due: eslint --fix

🐛 修复切换数据协议时错误重启适配器的问题
  src/views/settings/connect.vue
Due: eslint --fix, stylelint --fix

🐛 修复切换数据协议时错误重启适配器的问题 (#230)
  src/views/settings/connect.vue
Due: eslint --fix, stylelint --fix

✨ 新增自动重连配置
  src/driver/websocket-client/index.ts
  src/stores/connect-settings.ts
  src/views/settings/connect.vue
Due: eslint --fix, stylelint --fix

✨ 新增自动重连配置 (#231)
  src/driver/websocket-client/index.ts
  src/stores/connect-settings.ts
  src/views/settings/connect.vue
Due: eslint --fix, stylelint --fix

🔖 v0.4.7
  package.json
Due: none

👷 修复 PR 构建的应用不正确的问题
  .github/workflows/build.yml
Due: none

⬆️ 更新项目依赖
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src/adapter/behav.ts
  src/adapter/onebot/v12/message.ts
  src/auto-imports.d.ts
  src/components.d.ts
  src/components/chat/ChatBoxInput.vue
  src/utils/utils.ts
Due: eslint --fix, stylelint --fix

🧱 更换包管理器为 bun
  .github/CONTRIBUTING.md
  .github/workflows/build.yml
  .github/workflows/release.yml
  bun.lock
  package.json
  pnpm-lock.yaml
  src-tauri/tauri.conf.json
Due: none

:bug: 修复提及菜单中回车意外发送消息的问题
  src/components/chat/ChatBoxInputBox.vue
Due: eslint --fix, stylelint --fix

:beers: 优化写法
  src/components/chat/ChatBoxInputBox.vue
Due: eslint --fix, stylelint --fix

:adhesive_bandage: fix
  src/components/chat/ChatBoxInputBox.vue
Due: eslint --fix, stylelint --fix

👷 修复构建工作流在拉取请求中无权评论的错误
  .github/workflows/build.yml
Due: none

🐛 修复提及菜单中回车意外发送消息的问题 (#233)
  src/components/chat/ChatBoxInputBox.vue
Due: eslint --fix, stylelint --fix

♻️ 重构模态框控制逻辑
  src/components/AppSidebarManageButton.vue
  src/components/AppSidebarUserAvatar.vue
  src/components/ModalWindow.vue
  src/components/chat/ChatBoxHeader.vue
  src/components/chat/ChatContactsList.vue
  src/components/chat/ChatContactsListItemMenu.vue
  src/components/chat/ChatDetailsInfoGroup.vue
  src/stores/modal.ts
Due: eslint --fix, stylelint --fix

♻️ 重构模态框控制逻辑
  src/components/ModalWindow.vue
  src/stores/modal.ts
Due: eslint --fix, stylelint --fix

♻️ 重构用户管理与聊天组件中的模态框触发逻辑
  src/components/UserManageDialog.vue
  src/components/chat/ChatContacts.vue
  src/components/chat/ChatContactsAddButton.vue
  src/components/chat/ChatMessageMenu.vue
  src/components/chat/ChatUserCard.vue
Due: eslint --fix, stylelint --fix

♻️ 重构模态框状态类型定义
  src/stores/modal.ts
Due: eslint --fix

♻️ 重构模态框控制逻辑 (#234)
  src/components/AppSidebarManageButton.vue
  src/components/AppSidebarUserAvatar.vue
  src/components/ModalWindow.vue
  src/components/UserManageDialog.vue
  src/components/chat/ChatBoxHeader.vue
  src/components/chat/ChatContacts.vue
  src/components/chat/ChatContactsAddButton.vue
  src/components/chat/ChatContactsList.vue
  src/components/chat/ChatContactsListItemMenu.vue
  src/components/chat/ChatDetailsInfoGroup.vue
  src/components/chat/ChatMessageMenu.vue
  src/components/chat/ChatUserCard.vue
  src/stores/modal.ts
Due: eslint --fix, stylelint --fix

⬆️ 更新项目依赖
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: none

🚸 生产模式下禁用默认浏览器快捷键
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src/App.vue
Due: eslint --fix, stylelint --fix

👷 更新构建工作流
  .github/workflows/build.yml
Due: none

🚸 生产模式下禁用默认浏览器快捷键 (#235)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src/App.vue
Due: eslint --fix, stylelint --fix

♻️ 移除命令面板
  src-tauri/Cargo.toml
  src-tauri/src/command.rs
  src-tauri/src/lib.rs
  src/command/index.ts
  src/components/AppCommand.vue
  src/components/AppSidebarManageButton.vue
  src/components/ui/command/Command.vue
  src/components/ui/command/CommandDialog.vue
  src/components/ui/command/CommandEmpty.vue
  src/components/ui/command/CommandGroup.vue
  src/components/ui/command/CommandInput.vue
  src/components/ui/command/CommandItem.vue
  src/components/ui/command/CommandList.vue
  src/components/ui/command/CommandSeparator.vue
  src/components/ui/command/CommandShortcut.vue
  src/components/ui/command/index.ts
Due: eslint --fix, stylelint --fix

♻️ 移除未使用的 WebviewWindow 引用并调整开发工具打开条件
  src-tauri/src/command.rs
  src-tauri/src/lib.rs
Due: none

♻️ 移除命令面板 (#236)
  src-tauri/Cargo.toml
  src-tauri/src/command.rs
  src-tauri/src/lib.rs
  src/command/index.ts
  src/components/AppCommand.vue
  src/components/AppSidebarManageButton.vue
  src/components/ui/command/Command.vue
  src/components/ui/command/CommandDialog.vue
  src/components/ui/command/CommandEmpty.vue
  src/components/ui/command/CommandGroup.vue
  src/components/ui/command/CommandInput.vue
  src/components/ui/command/CommandItem.vue
  src/components/ui/command/CommandList.vue
  src/components/ui/command/CommandSeparator.vue
  src/components/ui/command/CommandShortcut.vue
  src/components/ui/command/index.ts
Due: eslint --fix, stylelint --fix

♻️ 改进自动类型导入
  src/adapter/behav.ts
  src/auto-imports.d.ts
  src/components/FileCard.vue
  src/components/chat/ChatBoxInput.vue
  src/components/chat/ChatBoxInputBox.vue
  src/components/chat/ChatBoxInputFileButton.vue
  src/components/chat/ChatContactsList.vue
  src/components/chat/ChatContactsListItem.vue
  src/components/chat/ChatContactsListItemMenu.vue
  src/components/chat/ChatDetailsInfoGroup.vue
  src/database/db.ts
  src/stores/modal.ts
  src/stores/state.ts
  src/utils/chat.ts
  src/views/chat/[chatType].[chatId].vue
  vite.config.ts
Due: eslint --fix, stylelint --fix

♻️ 调整 FileCard 组件 Props 类型定义
  src/components/FileCard.vue
Due: eslint --fix, stylelint --fix

♻️ 改进自动类型导入 (#237)
  src/adapter/behav.ts
  src/auto-imports.d.ts
  src/components/FileCard.vue
  src/components/chat/ChatBoxInput.vue
  src/components/chat/ChatBoxInputBox.vue
  src/components/chat/ChatBoxInputFileButton.vue
  src/components/chat/ChatContactsList.vue
  src/components/chat/ChatContactsListItem.vue
  src/components/chat/ChatContactsListItemMenu.vue
  src/components/chat/ChatDetailsInfoGroup.vue
  src/database/db.ts
  src/stores/modal.ts
  src/stores/state.ts
  src/utils/chat.ts
  src/views/chat/[chatType].[chatId].vue
  vite.config.ts
Due: eslint --fix, stylelint --fix

♻️ 重构后端命令调用
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src/adapter/onebot/v12/action.ts
  src/adapter/onebot/v12/typed.ts
  src/auto-imports.d.ts
  src/commands/index.ts
  src/components/chat/ChatBoxInputFileButton.vue
  src/components/chat/ChatMessageElementFile.vue
  src/components/settings/SettingsToolbar.vue
  src/stores/general-settings.ts
  src/utils/file.ts
  vite.config.ts
Due: eslint --fix, stylelint --fix

♻️ 重构后端命令调用 (#238)
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src/adapter/onebot/v12/action.ts
  src/adapter/onebot/v12/typed.ts
  src/auto-imports.d.ts
  src/commands/index.ts
  src/components/chat/ChatBoxInputFileButton.vue
  src/components/chat/ChatMessageElementFile.vue
  src/components/settings/SettingsToolbar.vue
  src/stores/general-settings.ts
  src/utils/file.ts
  vite.config.ts
Due: eslint --fix, stylelint --fix

💄 调整表单标签文本位置
  src/components/chat/GroupCreateFormDialog.vue
  src/components/chat/GroupEditFormDialog.vue
  src/components/chat/UserCreateFormDialog.vue
  src/components/chat/UserEditFormDialog.vue
Due: eslint --fix, stylelint --fix

💄 调整表单标签文本位置 (#239)
  src/components/chat/GroupCreateFormDialog.vue
  src/components/chat/GroupEditFormDialog.vue
  src/components/chat/UserCreateFormDialog.vue
  src/components/chat/UserEditFormDialog.vue
Due: eslint --fix, stylelint --fix

👷‍♂️ 新增 PR 生成工件评论工作流，并移除旧的评论步骤
  .github/workflows/build.yml
  .github/workflows/pr-artifact-comment.yml
Due: none

🔧 优化 PR 评论工作流条件，移除对 Bot 的限制
  .github/workflows/pr-artifact-comment.yml
Due: none

⬆️ 更新项目依赖
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/src/lib.rs
  src/auto-imports.d.ts
  src/components.d.ts
  src/layouts/default.vue
Due: eslint --fix, stylelint --fix

🔖 v0.4.8
  package.json
Due: none
